@import "./variables.scss";

.board {
    display: inline-block;
    border: 1px solid blue;
    background-color: #FFF;

    &.disabled {
        opacity: 0.5;
        background-color: #FEFEFE;
    }
}

.square {
    height: $square;
    width: $square;
    padding: 0;
    float: left;
    line-height: $square;

    background: none;
    border: 1px solid blue;
    font-size: $square - 10;
    font-weight: bold;
    text-align: center;

    &:focus{
        outline: none;
    }
}
