@import "variables";

button.square {
    height: $square;
    width: $square;
    padding: 0;
    line-height: $square - $squareDiff;

    background: none;
    border: 1px solid blue;
    border-radius: 0;
    font-size: $square - $squareDiff;
    text-align: center;

    &:focus{
        outline: none;
    }
}
